.banner-bg {
    background-image: url("https://i.ibb.co/fYgs75G/cute-green-aesthetic-abstract-minimal-background-perfect-wallpaper-backdrop-postcard-background-5652.jpg");
    background-size: cover;
    background-position: center;
}